/* Red */
$red: #f44336;
$redLighten4: #ffcdd2;
$redLighten3: #ef9a9a;
$redLighten3: #e57373;
$redLighten1: #ef5350;
$redDarken1: #e53935;
$redDarken2: #d32f2f;
$redDarken3: #c62828;
$redDarken4: #b71c1c;

/* Blue */
$blue: #2196f3;
$blueLighten4: #bbdefb;
$blueLighten3: #90caf9;
$blueLighten2: #64b5f6;
$blueLighten1: #42a5f5;
$blueDarken1: #1e88e5;
$blueDarken2: #1976d2;
$blueDarken3: #1565c0;
$blueDarken4: #0d47a1;

/* Pink */
$pink: #e91e63;
$pinkLighten4: #f8bbd0;
$pinkLighten3: #f48fb1;
$pinkLighten2: #f06292;
$pinkLighten1: #ec407a;
$pinkDarken1: #d81b60;
$pinkDarken2: #c2185b;
$pinkDarken3: #ad1457;
$pinkDarken4: #880e4f;

/* Purple */
$purple: #9c27b0;
$purpleLighten4: #e1bee7;
$purpleLighten3: #ce93d8;
$purpleLighten2: #ba68c8;
$purpleLighten1: #ab47bc;
$purpleDarken1: #8e24aa;
$purpleDarken2: #7b1fa2;
$purpleDarken3: #6a1b9a;
$purpleDarken4: #4a148c;

/* Light Blue */
$lightBlue: #03a9f4;
$lightBlueLighten4: #b3e5fc;
$lightBlueLighten3: #81d4fa;
$lightBlueLighten2: #4fc3f7;
$lightBlueLighten1: #29b6f6;
$lightBlueDarken1: #039be5;
$lightBlueDarken2: #0288d1;
$lightBlueDarken3: #0277bd;
$lightBlueDarken4: #01579b;

/* Cyan */
$cyan: #00bcd4;
$cyanLighten4: #b2ebf2;
$cyanLighten3: #80deea;
$cyanLighten2: #4dd0e1;
$cyanLighten1: #26c6da;
$cyanDarken1: #00acc1;
$cyanDarken2: #0097a7;
$cyanDarken3: #00838f;
$cyanDarken4: #006064;

/* Light Green */
$lightGreen: #8bc34a;
$lightGreenLighten4: #dcedc8;
$lightGreenLighten3: #c5e1a5;
$lightGreenLighten2: #aed581;
$lightGreenLighten1: #9ccc65;
$lightGreenDarken1: #7cb342;
$lightGreenDarken2: #689f38;
$lightGreenDarken3: #558b2f;
$lightGreenDarken4: #33691e;

/* Green */
$green: #4caf50;
$greenLighten4: #c8e6c9;
$greenLighten3: #a5d6a7;
$greenLighten2: #81c784;
$greenLighten1: #66bb6a;
$greenDarken1: #43a047;
$greenDarken2: #388e3c;
$greenDarken3: #2e7d32;
$greenDarken4: #1b5e20;

/* Amber */
$amber: #ffc107;
$amberLighten4: #ffecb3;
$amberLighten3: #ffe082;
$amberLighten2: #ffd54f;
$amberLighten1: #ffca28;
$amberDarken1: #ffb300;
$amberDarken2: #ffa000;
$amberDarken3: #ff8f00;
$amberDarken4: #ff6f00;


// TODO: add more colors
